<html>
        <head>
            <title>missmay's blog</title>
        </head>
        <body>
          <h1>Mi primera página web</h1>
          <h2>Mi primera pagina web con Djangogirls</h2>
          <h3>PythonES2017</h3>
            <p>Hi there!</p>
            <p>It works!</p>

            <em>Albóndigas</em>
            <br />

            <em>Patatas</em>

            <ul>
              <li>Grizzly</li>
              <li>Panda</li>
              <li>Ice bear</li>
            </ul>



        </body>
    </html>
