<html>
        <head>
            <title>missmay's blog</title>
        </head>
        <body>
          <h1>Mi primera página web</h1>
          <h2>Mi primera pagina web con Djangogirls</h2>
          <h3>We Bare Bears</h3>
            <ul>
              <li>Grizzly</li>
              <li>Panda</li>
              <li>Ice bear</li>
            </ul>

            {% for post in posts %}
            <div>
               <p>published: {{ post.published_date }}</p>
               <h1><a href="">{{ post.title }}</a></h1>
               <p>{{ post.text|linebreaksbr }}</p>
           </div>
    {% endfor %}


        </body>
    </html>
