{% extends 'blog/base.html' %}
{% block content %}

<h1>About Me</h1>
<h3>Miss May</h3>
<img src="https://i.pinimg.com/236x/f0/19/e9/f019e9ee8554f87f34ceee719b66d2fb--we-bare-bears-panda.jpg">

<!-- A section that describes me -->
<br /> <br />
<p>Mi nombre es Mayte, y esta es mi primera página web programando con HTML y CSS.
  <br /> <br />
  Esta página estará dedicada a la serie "We Bare Bears", una serie de animación americana que se ha
  convertido en mi favorita en este último año. Aqui podreis encontrar contenido relacionado con la
  serie y que voy a utilizar para practicar la programación de paginas web.
  <br /> <br />

</p>

{% endblock %}
