{% extends 'blog/base.html' %}
{% block content %}

<h1>We Bare Bears (Somos osos)</h1>
<nav>
  <ul>
    <li><a href="#introduction">¿Quienes son los osos?</a></li>
    <li><a href="#habitat">Habitat</a></li>
    <li><a href="#media">Media</a></li>
  </ul>
</nav>
<div id="introduction">
  <h2>About "We Bare Bears"</h2>
  <p>
    <strong><em>We Bare Bears</em></strong> is an American animated sitcom created by <a href = "https://en.wikipedia.org/wiki/Daniel_Chong_(animator)" target="_blank">Daniel Chong </a> for Cartoon Network.
    <br /> <br />
    <img src= "http://i.cdn.turner.com/v5cache/CARTOON/site/Images/i101/wbb_560x230.png" />
  </p>
  <a href="http://www.cartoonnetwork.es/show/somos-osos" target="_blank">Learn More</a>
  <h3>Protagonistas</h3>
  <br />
  <ul>
    <li>Grizzly "Grizz" (Grizzly Bear)</li>
    <li>Panda "PanPan" (Panda Bear)</li>
    <li>Ice Bear</li>
  </ul>
  <h3>Personalidad</h3>
  <!-- Descripcion de Grizz-->
  <p><strong>Grizzly </strong>(<em>Pardo en español</em>): Es un oso pardo y el mayor de los hermanos. Es
    un oso amante de la diversión, y debido a sus dotes naturales de líder, tiende a arrastrar a sus
    hermanos a diversas travesuras y planes disparatados. Le fascinan los videojuegos, ver televisión,
    videos en internet, y comer comida basura.
  </p>
  <!--<img src= "https://tbsila.cdn.turner.com/toonla/images/cnapac/content/701/character/grizzly/sa/fullimage_grizz_v2.png" /> -->
  <!-- Descripción de Panda -->
  <p><strong>Panda</strong>: Es un panda gigante y hermano mediano. Es cariñoso y experto en tecnología; usa ambas
    habilidades para encontrar pareja en un sitio de citas. Sin embargo, es un romántico inútil. Tiene
    menos confianza en sí mismo que el resto de sus hermanos. Panda es vegetariano, alergico a los frutos
    secos y se avergüenza con facilidad.
  </p>
  <!--<img src= "https://vignette.wikia.nocookie.net/webarebears/images/f/fa/Panda_png.png/revision/latest/scale-to-width-down/350?cb=20160613232158" /> -->
  <!-- Descripción de Ice Bear -->
  <p><strong>Ice Bear </strong>(<em>Polar en español</em>): es un oso polar poco hablador, lo que usualmente provoca momentos cómicos.
  Siempre que habla se refiere a sí mismo en tercera persona. Es un consumado chef, además de ser bailarín
  de salsa y experto en artes marciales. Ice bear es el más tranquilo del grupo, siempre manteniendo una
  actitud calmada incluso en las situaciones más extrañas y vergonzosas. Su carácter lacónico y reservado
  le lleva a situaciones realmente extrañas e inesperadas. En un episodio, se afirma de que nació en Siberia,
  donde fue educado por un anciano ermitaño ruso.
  </p>
  <!--<img src= "https://ih0.redbubble.net/image.406969196.4518/flat,800x800,075,f.jpg" />-->

</div>
<div id="habitat">
  <h2>Habitat</h2>
  <img src= "http://vignette2.wikia.nocookie.net/webarebears/images/0/08/The_Bears%27_House.png/revision/latest?cb=20150910231928"/>
  <br /><br /><p>Los tres osos viven en una cueva a las afueras de San Francisco, EEUU. Cada uno tiene su propia
    habitación decorada a su estilo (excepto Ice Bear que duerme en el frigorífico).
  </p>
</div>
<div id="media">
  <h2>Media</h2>
  <img src="https://vignette.wikia.nocookie.net/webarebears/images/f/f3/Cubs.png/revision/latest/scale-to-width-down/350?cb=20160612202809" />
  <br /><br />

  <iframe width="560" height="315" src="https://www.youtube.com/embed/KJt_s3a8FqA" frameborder="0" allowfullscreen></iframe>
  <br /><br />
</div>

{% endblock %}
